# App
NEXT_PUBLIC_APP_URL=http://localhost:3000        # no trailing slash
NEXT_PUBLIC_ADMIN_URL=http://admin.localhost:3000 # no trailing slash

# Mailer (Resend SMTP)
MAILER_FROM="Chardy Notification <notif@chardy.dev>"
MAILER_HOST=smtp.resend.com
MAILER_PASS=re_xxx      # Resend API key
MAILER_USER=resend
OWNER_EMAIL=youremail@email.com     # Destination email for contact form notifications

# Payload CMS
PAYLOAD_SECRET=<base64_random_string>
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/chardy

# Cloudinary
CLOUDINARY_KEY=<cloudinary_api_key>
CLOUDINARY_SECRET=<cloudinary_api_secret>
CLOUDINARY_CLOUD_NAME=<cloudinary_cloud_name>
CLOUDINARY_FOLDER=/path/to/assets    # Cloudinary folder for media uploads

# Upstash Redis (locally using upstash-proxy from docker compose)
UPSTASH_REDIS_REST_URL=http://localhost:8080
UPSTASH_REDIS_REST_TOKEN=example_token

# AI (Gemini)
GEMINI_API_KEY=<aistudio_api_key>                  # API key from Google AI Studio

# Analytics (Umami): optional
NEXT_PUBLIC_UMAMI_URL=https://your_umami_url.com/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=<umami_id>

# Error monitoring (Sentry): optional, used during build to upload sourcemaps
SENTRY_AUTH_TOKEN=<sentry_organization_token>

# Better Auth
BETTER_AUTH_SECRET=<32_chars_generated>

# OAuth: GitHub
GITHUB_CLIENT_ID=<github_oauth_client_id>
GITHUB_CLIENT_SECRET=<github_oauth_client_secret>