NEXT_PUBLIC_APP_URL=http://localhost:3000

MAILER_FROM="Chardy Notification <notif@chardy.dev>"
MAILER_HOST=smtp.resend.com
MAILER_PASS=re_xxx
MAILER_USER=resend
OWNER_EMAIL=youremail@email.com

PAYLOAD_SECRET=xxx
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/chardy

CLOUDINARY_KEY=xxx
CLOUDINARY_SECRET=xxx
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_FOLDER=path/to/this/app/assets

UPSTASH_REDIS_REST_URL=http://localhost:8080
UPSTASH_REDIS_REST_TOKEN=example_token
